{% extends 'base/base.html' %}
{% block title %}Удаление комментария{% endblock title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Удаление комментария</h3>
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card col-6">
                    <p class="card-text">
                    <p>Действительно хотите удалить</p>
                    <p><b>{{object.name}}</b></p>
                    </p>
                    <div class="card-body">
                        {% csrf_token %}
                    </div>

                    <!-- Кнопки -->
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="submit" class="btn btn-outline-danger ml-5 px-2 pb-md-2 mx-2" role="button">
                            Удалить
                        </button>
                        <a class="btn btn-outline-primary px-2 pb-md-2 mx-2"
                           href="{% url 'publications:publication_view' pk=object.publication.pk %}"
                           role="button">Отменить</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
